body {
  margin: 0px;
  padding: 0px;
  background-color: #f8f7f4;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

/* Cabecalho */

.cabecalho {
  display: flex;
  justify-content: space-between;
  /* margin-top: 10px; */
  /* margin-left: 80px; */
  /* margin-right: 80px; */
  padding-top: 25px;
  padding-left: 80px;
  padding-right: 80px;
  /* padding-bottom: 20px; */
}

.logo-header img {
  height: 50px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 45px;
}

.menu li {
  font-size: 1.2rem;
  font-family: "Nunito", sans-serif;
}

#cadastro-menu a {
  color: #00013e;
}

#login-menu a {
  display: grid;
  justify-content: center;
}

#login-menu a img {
  height: 40px;
}

#cadastro-menu a:hover {
  text-decoration: underline;
}

#mapa-menu a {
  text-decoration: underline;
  color: #00013e;
}

#denuncia-menu a,
#mapa-menu a,
#destaque-menu a {
  color: #00013e;
}

#destaque-menu a:hover,
#denuncia-menu a:hover {
  text-decoration: underline;
}

/* Menu Mobile */

#menuToggle {
  display: none;
}

.menu-icon {
  display: none;
}

@media (max-width: 1150px) {
  .cabecalho {
    position: fixed;
    top: 0px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #f8f7f4;
  }

  #login-menu img {
    color: white;
  }

  #denuncia-menu a,
  #mapa-menu a,
  #destaque-menu a {
    color: white;
  }

  .cabecalho nav {
    display: absolute;
    width: 100%;
    height: 100%;
  }
  .menu {
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    align-content: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
  }

  .menu li {
    display: block;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 20px;
  }

  .menu li a {
    display: block;
    text-align: center;
    width: 100%;
  }
  .menu-icon {
    width: 50px;
    height: inherit;
    display: block;
    position: absolute;
    top: 40px;
    right: 30px;
    line-height: 60px;
    color: #00013e;
    z-index: 999;
  }

  #fechar-circulo {
    color: white;
  }

  #menuToggle:checked ~ label i:nth-child(2) {
    display: block;
  }
  #menuToggle:checked ~ label i:first-child {
    display: none;
  }
  #menuToggle:not(:checked) ~ label i:first-child {
    display: block;
  }
  #menuToggle:not(:checked) ~ label i:nth-child(2) {
    display: none;
  }

  #menuToggle:checked ~ ul {
    height: 100%;
  }
  .menu-icon i {
    font-size: 1.7em;
  }
}

/* CONTEUDO */

.container {
  margin-top: 50px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1200px;
}

.title {
  font-size: 2rem;
  color: #333;
}

.main-layout {
  display: flex;
  align-items: flex-start;
}

.subtitle {
  color: #000;
  font-size: 24px;
  flex: 1;
  margin-bottom: 20px;
  padding: 25px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 35px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.map-chart {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.map {
  height: 550px;
  border-radius: 8px;
  overflow: hidden;
}

.chart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
}

canvas {
  width: 100% !important;
  height: auto !important;
}

.legend {
  flex: 1;
  margin-left: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: left;
}

.legend h3 {
  margin-bottom: 10px;
}

.legend div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.legend img {
  width: 40px;
  height: 41px;
  margin-right: 10px;
}

@media (max-width: 1150px) {
  .container {
    margin-top: 110px;
  }
}

@media (max-width: 850px) {
  .subtitle {
    font-size: 1.3rem;
  }
}

@media (max-width: 750px) {
  .main-layout {
    display: grid;
  }
  .map {
    height: 350px;
  }
  .chart-container {
    height: 350px;
  }
}

/* Footer */

#footer-sofia {
  margin: 100px 120px 40px 120px;
  display: flex;
  justify-content: space-between;
}

#footer-texto {
  max-width: 500px;
  font-weight: bolder;
  color: #01012f;
  font-family: "Lora", serif;
}

#footer-info {
  font-family: "Lora", serif;
  color: dimgray;
}

@media (max-width: 1100px) {
  #footer-texto {
    display: none;
  }
  #footer-info {
    text-align: center;
  }
  #footer-sofia {
    margin-top: 60px;
    display: grid;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  #footer-info {
    font-size: 0.9rem;
  }
  #footer-sofia {
    margin: 60px;
    display: grid;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  #footer-info {
    font-size: 0.9rem;
  }
}

@media (max-width: 400px) {
  #footer-info {
    font-size: 0.7rem;
  }
}
